<a href="https://subscribe.adblockplus.org/?location=https%3A%2F%2Fexample.org%2F&title=Sample%20Filter%20List" id="subscribe">Subscribe</a>
<a href="abp:subscribe?location=https%3A%2F%2Fexample.org%2F&title=Sample%20Filter%20List" id="subscribe-legacy">Subscribe (legacy)</a>
